.danmu-content{
	margin: 40px auto;
	overflow: hidden;
	background-color: #F4F5DD;
	min-height: 400px;
	position: relative;
	.dm{
		font-size: 24px;
		font-weight: 600;
		font-family: "微软雅黑";
		position: absolute;
		white-space: nowrap;
	}
	.dmColor1{
		color: #000 !important;
	}
	.dmColor2{
		color: #f00 !important;
	}
	.dmColor3{
		color: #0f0 !important;
	}
	.dmColor4{
		color: #00f !important;
	}
	.dmColor5{
		color: #ff0 !important;
	}
	.dmColor6{
		color: #0ff !important;
	}
	.dmColor7{
		color: #f0f !important;
	}
	.dm-shadow{
		text-shadow: rgb(255, 255, 255) 1px 0px 1px, rgb(255, 255, 255) 0px 1px 1px, rgb(255, 255, 255) 0px -1px 1px, rgb(255, 255, 255) -1px 0px 1px;
	}
	.user-dm{
		padding: 0 2px;
		border-radius: 4px;
		border: 2px solid lightblue;
		text-shadow: rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) -1px 0px 1px;
		color: #fff;

	}
}
.input-danmu{
	max-width: 400px;
	margin: 0 auto;
}
.danmu-btn{
	text-align: center;
	margin-top: 40px;
	.btn{
		width: 160px;
	}
}
